<% include layouts/header %>
<link rel="stylesheet" href="/stylesheets/new.css">
<h2 class="text-center">Add new product</h2>
<div class="container">
    <form action="/products" method="POST">
        <label>Name</label>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Enter Name">
        </div>
        <label>Brand Name</label>
        <div class="form-group">
            <input class="form-control" type="text" name="brand_name" placeholder="Enter Brand Name">
        </div>
        <label>Image</label>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Enter Image source">
        </div>
        <label>Categories</label>
        <div class="form-group">
            <textarea class="form-control" name="categories" placeholder="Enter Categories(, seperated)"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit!</button>
        </div>
    </form>
</div>

<% include layouts/footer %>
